<%- include('./includes/head') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.min.js" integrity="sha512-FmeuAXHyL8RebErBWCk+UDL2rKHP7xNUm5DzMQN0qkylcdMjBFCqgK8B0KCC+VFibD3fiWQb6XIRay2DvoGZVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
.cm-s-3024-night.CodeMirror { background: #090300; color: #d6d5d4; }
.cm-s-3024-night div.CodeMirror-selected { background: #3a3432; }
.cm-s-3024-night .CodeMirror-line::selection, .cm-s-3024-night .CodeMirror-line > span::selection, .cm-s-3024-night .CodeMirror-line > span > span::selection { background: rgba(58, 52, 50, .99); }
.cm-s-3024-night .CodeMirror-line::-moz-selection, .cm-s-3024-night .CodeMirror-line > span::-moz-selection, .cm-s-3024-night .CodeMirror-line > span > span::-moz-selection { background: rgba(58, 52, 50, .99); }
.cm-s-3024-night .CodeMirror-gutters { background: #090300; border-right: 0px; }
.cm-s-3024-night .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-3024-night .CodeMirror-guttermarker-subtle { color: #5c5855; }
.cm-s-3024-night .CodeMirror-linenumber { color: #5c5855; }

.cm-s-3024-night .CodeMirror-cursor { border-left: 1px solid #807d7c; }

.cm-s-3024-night span.cm-comment { color: #cdab53; }
.cm-s-3024-night span.cm-atom { color: #a16a94; }
.cm-s-3024-night span.cm-number { color: #a16a94; }

.cm-s-3024-night span.cm-property, .cm-s-3024-night span.cm-attribute { color: #01a252; }
.cm-s-3024-night span.cm-keyword { color: #db2d20; }
.cm-s-3024-night span.cm-string { color: #fded02; }

.cm-s-3024-night span.cm-variable { color: #01a252; }
.cm-s-3024-night span.cm-variable-2 { color: #01a0e4; }
.cm-s-3024-night span.cm-def { color: #e8bbd0; }
.cm-s-3024-night span.cm-bracket { color: #d6d5d4; }
.cm-s-3024-night span.cm-tag { color: #db2d20; }
.cm-s-3024-night span.cm-link { color: #a16a94; }
.cm-s-3024-night span.cm-error { background: #db2d20; color: #807d7c; }

.cm-s-3024-night .CodeMirror-activeline-background { background: #2F2F2F; }
.cm-s-3024-night .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
</style>

<style>
.fab > .fa-javascript{
  background-color:yellow;
  }
button:hover, .button:hover {
  border-color: #cdd;
}

  .share-dialog {
  display: none;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  z-index: -1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.share-dialog.is-open {
  display: block;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.targets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button svg {
  margin-right: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
}

.pen-url {
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



</style>
<div class="form-control info-paste">
  <center>
    <br>
<h1><i class="fad fa-file-signature"></i>  <%= pasteData.pasteName %> </h1>
    <hr>
    
    <h1><i class="fad fa-user-crown"></i>  <%= pasteData.author %> <h1>
      <hr>
      <% if(pasteData.paste_language){ %>
      <% if(pasteData.paste_language === "Javascript"){ %>
     <h1> <i class="fab fa-js"></i></h1>
      <%}%>
      <% if(pasteData.paste_language === "HTML"){ %>
     <h1> <i class="fab fa-html5"></i></h1>
      <%}%>

      <%}%>
       <% if(viewCount > 1){ %>
     
    
    <p> <i class="fad fa-eye"></i>   Paste Viewers Count: <%= viewCount %></p>
      <% }else{ %>
      
      <i class="fad fa-eye-slash"></i>
      <% }%>
    </center>
</div>
    					<textarea readonly style="width: 100%;" class="copy_text form-control" id="editor2" name="editor2" value="<%=pasteData.paste%>" disabled><%=pasteData.paste%></textarea>
					
    <script>
					var editor2 = CodeMirror.fromTextArea(document.getElementById('editor2'), {
							mode: "<%= pasteData.paste_language%>",
							theme: "3024-day",
							lineNumbers: true,
							readOnly: 'false'
					});
					editor2.save()
					</script>
    <script>
    
    </script>
    <br>
    <div class="jumbotron form-control">
<button onclick="execCopy()" id="cpbutton" class="btn btn-success"><i class="fad fa-copy"></i></button>
<button onclick="shareNego()" id="sharebutton" class="btn btn-success share-button" data-toggle="modal" data-target="#exampleModal"><i class="fad fa-share"></i></button>

      </div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Paste ! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary"><i class="fab fa-facebook-f"></i></button>
        <button class="btn btn-secondary"><i class="fab fa-whatsapp"></i></button>
        <button class="btn btn-secondary"><i class="fab fa-instagram"></i></button>
        <button class="btn btn-secondary"><i class="fab fa-discord"></i></button>
        <hr>
        <p class="btn btn" style="font-size:small;">https://hastebin-nego.glitch.me/paste/<%=pasteData.paste_id%></p>
      
      
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script>
     
const shareButton = document.querySelector('.share-button');
const shareDialog = document.querySelector('.share-dialog');
const closeButton = document.querySelector('.close-button');

shareButton.addEventListener('click', event => {
  shareDialog.classList.add('is-open');
});

closeButton.addEventListener('click', event => {
  shareDialog.classList.remove('is-open');
});



    function execCopy(){
        var dummy = $('.copy_text').val();
        $('.copy_text').select();
        document.execCommand('copy');
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Link Copied',
            text: "NegoPaste.me",
            showConfirmButton: false,
            timer: 1500
        });
    }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    